*{
    margin: 0%;
    padding: 0%;
}
body{
    background: gray;
}
.header2{
    margin-right: 2.3%;
    margin-left: 2.3%;
    background-color:rgb(253, 251, 248);
}
.header1{
    
    display: flex;
    
}
.header
{
    width:  60%;
}


.header img{
    width: 52vw;
    height: 25vh;
}
.headertext1{
    display: flex;
    justify-content: end;
    text-align: end;
    width: 40%;
}
.headerp p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15.2px;
    text-transform:uppercase;
    font-weight: bold;
}
.headerp h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 49px;
}
.headertext {
    justify-content: end;
    display: flex;
    
}
.headertext h3{

    font-family: Arial, Helvetica, sans-serif;
    color: red;
    font-size: 24.7px;
    border-bottom: 2px solid black;
}
.rightsection{
   margin-right: 6%;
   margin-top: 3%;
}

.menulist{
      background-color: rgb(110, 13, 13);
}
.menue{
   list-style: none;
   display: flex;
   justify-content: end;
   margin-right: 1%;
}
.menue li{
    padding: 14px;
    padding-left: 14px;
    padding-right: 14px;
}
.menue li a{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}  
.menue li:hover{
    background-color: gray;
}

.hero{
    margin-top: 3%;
    display: flex;
    justify-content: space-around;

}
.heroimg{
    width:50%;
    display: flex;
    margin-left:1.6%;
    /* justify-content: center; */
}
.heroimg img{
    width: 46.8vw;
    height: 65vh;
     box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
}
.heroimg2{
    width: 45%;
    /* display: flex; */
      box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
}
.heroimg2{
    background-image: url("./pics/form_bg.jpg");
    justify-content: end;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40.8vw;
    height:65vh; 
    margin-right: 2%;
}
.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 3%;
}

.form-row label {
  font-family: Arial, Helvetica, sans-serif;  
  width:75px; 
  text-align:right;
  font-size: 12px;
  font-weight: bolder;
  margin-right: 1%;
}

.form-row input {
  /* flex: 1; */
  padding:1px;
  box-sizing: border-box;
}
.headtext{
    width: 100%;
    display: flex;
}
.firsth1{
    width: 40%;
    
}
.firstp{
    width: 60%;
   
}

.firstp p{
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    font-size: 20px;
    margin-left: 10%;
}
.firsth1 h2{
    color: white;
    background-color: rgb(223, 23, 23);
}
.secandp p{
    font-family: Arial, Helvetica, sans-serif;
     margin-bottom: 2%;
      font-size: 16.2px;
}
.secandp{
    
    margin-left: 5%;
    margin-right:5% ;
}
.leftin{
    width: 55%;
    height: 16.4vh;
}
.rightimgg{
    width: 45%;

}
.sectionimg{
    display: flex;
}
.rightimgg{
    margin-left: 3%;
    
}
.rightimgg img{
   
    width: 14vw;
    height: 10vh;
    transform: rotate(10.7deg);
     transform-origin: left bottom;
}